apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: app-pool
  namespace: kube-system
spec:
  blocks:
    - cidr: "10.246.144.2/28"
  serviceSelector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
