apiVersion: "cilium.io/v2alpha1"
kind: CiliumLoadBalancerIPPool
metadata:
  name: app-pool
spec:
  blocks:
    - cidr: "10.246.145.1/29"
  serviceSelector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
