apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: app-policy
  namespace: kube-system
spec:
  serviceSelector:
    matchLabels:
      app.kubernetes.io/name: jellyfin

  # IMPORTANT: if externalIPss is desired, externalIPs.enabled=true must be set in values.yaml
  externalIPs: true
  loadBalancerIPs: true
  interfaces:
    - "enp5s0"
