apiVersion: "cilium.io/v2alpha1"
kind: CiliumL2AnnouncementPolicy
metadata:
  name: app-policy
spec:
  serviceSelector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist
  # IMPORTANT: if externalIPss is desired, externalIPs.enabled=true must be set in values.yaml
  externalIPs: true
  loadBalancerIPs: true
  interfaces:
    - "^(en|eth).*"
